body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

.bg-green {
  background-color: #168004;
}

.navbar-nav .nav-link {
  color: #cbd5db;
}


.btn-sm{
 width: 20%;
}
.navbar-nav .nav-link:hover {
  color: #ffffff;
}

.navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 5px 10px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 30px;
}

.article-title {
  padding-bottom: 1px;
  border-bottom: 1px solid #168004;
}

.article-title-color {
  color: #1ead72;
}

.article-content {
  white-space: pre-line;
}

.book-img {
  height: 300px;
  width: 200px;
}

.book-home-img {
  height: 100px;
  width: 50px;
}

.button-margin {
  margin-bottom: 200px;
}

.repository-message {
  padding: 5px 10px;
  border: 1px solid #dddddd;
}